@model BliviPedidos.Models.ViewModels.ProdutoViewModel
@{
    ViewData["Title"] = "Editar Produto";
}
<div class="pagetitle">
    <h1>Editar o Produto</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
            <li class="breadcrumb-item"><a asp-controller="Store" asp-action="ProdutoLista">Produtos</a></li>
            <li class="breadcrumb-item active">Editar - @Model.Nome</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Editar o Produto</h5>
                    <form id="formulario" class="row g-3" method="post" enctype="multipart/form-data" asp-action="ProdutoEditar">
                        <input id="hiddenProdutoId" type="hidden" asp-for="Id" />                        
                        
                        <div class="col-12">
                            <label asp-for="Nome" class="col-sm-2 col-form-label"></label>
                            <input asp-for="Nome" type="hidden" placeholder="Nome do Produto" class="form-control" id="NomeHidden">
                            <input id="NomeProduto" name="NomeProdutoFormatted" type="text" placeholder="Nome do Produto" class="form-control" disabled>
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="PrecoPago" class="col-sm-2 col-form-label"></label>
                            <input asp-for="PrecoPago" type="hidden" class="PrecoPagoHidden">
                            <input id="PrecoPagoFormatted" name="PrecoPagoFormatted" type="text" placeholder="Preço pago no Produto" class="form-control Preco" disabled>
                            <span asp-validation-for="PrecoPago" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="PrecoVenda" class="col-sm-2 col-form-label"></label>
                            <input asp-for="PrecoVenda" type="hidden" class="PrecoVendaHidden">
                            <input id="PrecoVendaFormatted" name="PrecoVendaFormatted" type="text" placeholder="Preço venda do Produto" class="form-control Preco" disabled>
                            <span asp-validation-for="PrecoVenda" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="Quantidade" class="col-sm-2 col-form-label"></label>
                            <input asp-for="Quantidade" type="text" placeholder="Quantidade de Produto" class="form-control">
                            <span asp-validation-for="Quantidade" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <input asp-for="CodeBar" type="hidden" placeholder="Codigo de barras" class="form-control">
                            <input asp-for="Tamanho" type="hidden" placeholder="Tamanho do Produto" class="form-control">
                            <input asp-for="Foto" type="hidden" placeholder="Tamanho do Produto" class="form-control">
                        </div>    
                        
                        <div class="col-12">
                            <div class="form-check">
                                <input asp-for="IsAtivo" class="form-check-input" type="checkbox">
                                <label asp-for="IsAtivo" class="form-check-label">
                                    Ativo
                                </label>
                            </div>
                        </div>
                        
                        <div class="card-footer d-flex justify-content-between">
                            <div>
                                <a asp-action="ProdutoLista" class="btn btn-secondary btn-sm">
                                    <i class="bi bi-arrow-left"></i> Voltar lista de produtos do shopping
                                </a>
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Salvar</button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-lg-4">            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-file-picture-o"></i> Pré-visualização</h5>
                    <div class="panel panel-default">
                        <div class="panel-body" style="text-align: center; height: 200px; display: flex; justify-content: center; align-items: center;">
                            @if (Model.Foto != null && Model.Foto.Length > 0)
                            {
                                <img id="imagemPreview" src="@Model.Foto" alt="Product Image" style="max-width: 100%; max-height: 100%;" />
                            }
                            else
                            {
                                <img id="imagemPreview" src="~/img/default.png" style="max-width: 100px; max-height: 100px;" />
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button id="openModal" class="btn btn-primary">Substituir Imagem</button>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Informações adicionais sobre o cadastro de produto</h5>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    #1 - Precisão no Controle de Estoque
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Um cadastro detalhado de produtos garante uma gestão de estoque precisa, prevenindo erros e assegurando a disponibilidade dos itens certos.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    #2 - Eficiência na Gestão de Pedidos
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Um cadastro organizado agiliza a gestão de pedidos, evitando erros de seleção e fornecendo informações precisas sobre disponibilidade e prazos.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    #3 - Análise de Desempenho e Tomada de Decisão
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    O cadastro de produtos permite análises detalhadas, ajudando a ajustar estratégias de estoque, precificação e desenvolvimento de novos produtos com base no desempenho e nas preferências dos clientes.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Modal HTML -->
            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModalLabel">Substituir Imagem do Produto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input id="inputFoto" name="foto" type="file" class="form-control" accept="image/*" />
                            <img id="modalPreview" src="" alt="Preview da Imagem" style="display: none; max-width: 100%; max-height: 100%; margin-top: 10px;" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" id="saveImage" class="btn btn-primary">Salvar Imagem</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/js/controllers/Produto-Cadastro.js"></script>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}