@model BliviPedidos.Models.ViewModels.ProdutoViewModel
@{
    ViewData["Title"] = "Editar Produto";
}
<div class="pagetitle">
    <h1>Editar o Produto</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
            <li class="breadcrumb-item"><a asp-controller="Store" asp-action="ProdutoLista">Produtos</a></li>
            <li class="breadcrumb-item active">Editar - @Model.Nome</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Editar o Produto</h5>
                    <form id="formulario" method="post" enctype="multipart/form-data" asp-action="ProdutoEditar">
                        <input type="hidden" asp-for="Id" />
                        <div class="row mb-3">
                            <label asp-for="Codigo" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Codigo" type="text" placeholder="Código" class="form-control">
                            </div>
                            <span asp-validation-for="Codigo" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Nome" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Nome" type="text" placeholder="Nome do Produto" class="form-control">
                            </div>
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Preco" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input id="Preco" name="Preco" type="text" placeholder="Preço do Produto" class="form-control">
                            </div>
                            <span asp-validation-for="Preco" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Quantidade" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Quantidade" type="text" placeholder="Quantidade de Produto" class="form-control">
                            </div>
                            <span asp-validation-for="Quantidade" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Tamanho" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Tamanho" type="text" placeholder="Tamanho do Produto" class="form-control">
                            </div>
                            <span asp-validation-for="Tamanho" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="CodeBar" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="CodeBar" type="text" placeholder="Codigo de barras" class="form-control">
                            </div>
                            <span asp-validation-for="CodeBar" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Foto" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input id="inputFoto" name="foto" type="file" class="form-control" accept="image/*" />
                            </div>
                            <span asp-validation-for="Foto" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-file-picture-o"></i> Pré-visualização
                                </div>
                                <div class="panel-body">
                                    <img id="imagemPreview" src="#" style="max-width: 100px; max-height: 100px;" />
                                </div>
                            </div>
                        </div>

                        <div class="card-footer d-flex justify-content-between">
                            <div>
                                <a asp-action="ProdutoLista" class="btn btn-secondary btn-sm">
                                    <i class="bi bi-arrow-left"></i> Voltar lista de produtos do shopping
                                </a>
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Salvar</button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Informações adicionais sobre o cadastro de produto</h5>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    #1 - Precisão no Controle de Estoque
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Um cadastro detalhado de produtos garante uma gestão de estoque precisa, prevenindo erros e assegurando a disponibilidade dos itens certos.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    #2 - Eficiência na Gestão de Pedidos
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Um cadastro organizado agiliza a gestão de pedidos, evitando erros de seleção e fornecendo informações precisas sobre disponibilidade e prazos.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    #3 - Análise de Desempenho e Tomada de Decisão
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    O cadastro de produtos permite análises detalhadas, ajudando a ajustar estratégias de estoque, precificação e desenvolvimento de novos produtos com base no desempenho e nas preferências dos clientes.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informações adicionais sobre informação do produto</h5>

                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/js/controllers/Produto-Cadastro.js"></script>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}